body {
	margin: 0px;
	background-color: white;
	text-align: center;
	font-family: Arial, Verdana, Geneva, sans-serif;
}

a:active {
	color: green;
	text-decoration: none;
}

a:visted {
	color: green;
	text-decoration: none;
}

#sortable {
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2.5em;
	padding-left: 50px;
	width: 60%;
	height: auto;
}

#sortable li {
	text-align: left;
	margin: 5px 10px 10px 10px;
	padding: 1px;
	float: left;
	min-width: 100px;
	height: auto;
	font-size: 1.1em;
	display: block;
}

#sortable li a {
	padding-left: 22px;
	text-decoration: none;
	color: #009c04;
}

#trashContainer {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	opacity: 0;
}

#trashContainer img {
	margin: 0 auto 0 auto;
}

#head a {
	margin: 5px 5px 0px 5px;
	color: #999;
	font-size: 16px;
	height: 52px;
	float: right;
	text-decoration: none;
}

#logo {
	clear: both;
	font-size: 8em;
	font-family: serif;
	margin-top: 10px;
	opacity: 0;
}

#searchContainer {
	margin-top: 50px
}

#search {
	width: 40%;
	height: 24px;
	font: 16px arial
}

#about {
	position: absolute;
	clear: both;
	color: #999;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	right: 20px;
	top: 20px;
	display: none;
}

#footer {
	position: absolute;
	width: 100%;
	clear: both;
	bottom: 0px;
}

/* add div */
#addContainer {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0px;
	display: none;
}

.mask {
	top: 0px;
	position: fixed;
	background-color: #666;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	z-index: -10;
}

#mysite {
	text-align: center;
	margin: 100px auto 0 auto;
	width: 800px;
	background: #fff;
	padding: 50px 0px 400px 30px;
}

#mysite .close {
	cursor: pointer;
	position: relative;
	display: block;
	float: right;
	top: -40px;
	right: 10px
}

#mysite .txt {
	float: left;
	line-height: 30px;
	font-size: 14px
}

#mysite .site-input {
	float: left;
	position: relative;
	height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #3faf0f;
	background: #fff;
	margin-right: 20px
}

#mysite .site-input input {
	margin-top: 2px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	font-family: arial;
	border: 0;
	background: 0;
	outline: 0;
	-webkit-appearance: none
}

#mysite  .site-url {
	width: 225px
}

#mysite .site-url input {
	width: 213px
}

#mysite  .site-name {
	width: 210px
}

#mysite  .site-name input {
	width: 198px
}

#btn-site-add {
	width: 70px;
	height: 28px;
	text-align: center;
	border: 0;
	cursor: pointer;
	font-size: 14px;
	background-color: #47b902;
	color: #fff
}