<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Simple</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.haosimple.common.listener.ContextInitListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AddUrlServlet</servlet-name>
		<servlet-class>com.haosimple.servlet.AddUrlServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUrlServlet</servlet-name>
		<url-pattern>/addurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteUrlServlet</servlet-name>
		<servlet-class>com.haosimple.servlet.DeleteUrlServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUrlServlet</servlet-name>
		<url-pattern>/deleteurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MoveUrlOperateServlet</servlet-name>
		<servlet-class>com.haosimple.servlet.MoveUrlOperateServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveUrlOperateServlet</servlet-name>
		<url-pattern>/move</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddBreakServlet</servlet-name>
		<servlet-class>com.haosimple.servlet.AddBreakServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBreakServlet</servlet-name>
		<url-pattern>/addBreak</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetBreakServlet</servlet-name>
		<servlet-class>com.haosimple.servlet.GetBreakServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBreakServlet</servlet-name>
		<url-pattern>/getBreak</url-pattern>
	</servlet-mapping>
	
</web-app>